Package: com.example.springboard
Name: iOS_tweak_template
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: wx
Author: wx
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
